.slides img{border:0 !important; box-shadow: none !important;}
.stroke
{
    color: white !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

